body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 10px;
  }
  
  #blue,
  #red,
  #pink,
  #green {
    height: 250px;
    width: 600px;
  }
  
  #blue {
    background-color: blue;
  }
  
  #red {
    background-color: red;
  }
  
  #pink {
    background-color: pink;
  }
  
  #green {
    background-color: green;
  }
  